<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
  <title>Coingecko - Coin Data</title>
  <style>
      .increase {
      color: green;
    }
    .decrease {
      color: red;
    }
    table {
      width: 40%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
  <h1>Coin Data from External API</h1>
  <div class="form-group">
    <label for="coinFilter">Filter by ID:</label>
    <input type="text" class="form-control" id="coinFilter" placeholder="Enter Coin ID">
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Current Price (USD)</th>
        <th>Price Change Percentage in 24h</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="coin : ${coinList}" class="coinRow">
        <td th:text="${coin.name}"></td>
        <td><img th:src="${coin.image}" alt="Coin Image" height="50"></td>
        <td th:text="${coin.currentPrice}"></td>
        <td th:text="${coin.priceChangePercentage24h + ' %'}"
            th:class="${coin.priceChangePercentage24h > 0} ? 'increase' : 'decrease'"></td>
      </tr>
    </tbody>
  </table>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var coinFilter = document.getElementById('coinFilter');
      var coinRows = document.querySelectorAll('.coinRow');

      coinFilter.addEventListener('input', function () {
        var filter = coinFilter.value.toUpperCase();

        coinRows.forEach(function (row) {
          var coinId = row.querySelector('td:nth-child(1)').textContent.toUpperCase();

          if(coinId.indexOf(filter) > -1) {
            row.style.display = ''; // Show the row
          } else {
            row.style.display = 'none'; // Hide the row
          }
        });
      });
    });
  </script>
</body>
</html>